.form-register{
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    margin: 0px;
    background-image: linear-gradient(#bd09b7, #6b4cf5);
}

h1{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 3%;
}

h4{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: lighter;
    margin-bottom: 0%;
}

.controls{
    padding: 7px;
    width: 90%;
    margin-bottom: 0px;
    margin-top: 0px;
}

div{
    padding-top: 20px;
}

.form-register .botons {
   width: 25%;
   margin-left: 200px;
   padding: 7px;
   margin-top: 20px;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 14px;
    margin-top: 10px;

}

select{
    width: 96%;
    padding: 7px;
}